.hide {

    display: none;
}

.hidden {

    visibility: hidden;
}

.appear {

    visibility: visible;
}

 .show {
    display: block;

}

label {

        font-weight: bold;

}

.banner {
    height: 10vh;
    
    /* Flexbox */
    display: flex;
    align-items: center;
   }

   .error {

     color: red;
   }


   .special-card {
    /* create a custom class so you 
       do not run into specificity issues 
       against bootstraps styles
       which tends to work better than using !important 
       (future you will thank you later)*/
    
      background-color: rgba(245, 245, 245, .7);
      border-radius: 10px;
      
    }

   .jumbotron {
    background-image: url(../assets/Patient-Information-Landing-Page-Image.jpg);
  
    background-size: cover;
   }
